.App {
  background-color: white;
}

/* .btn {
  background-color: #0A1E5F !important;
  color: white !important;
  font-size: 15px !important;
} */

.btn  {
  background-color: #0A1E5F !important;
  border: #2f7c32 !important;
  font-size: 15px !important;
  color: #fff !important;
}

.btn:hover  {
  background-color: #2f7c32 !important;
  border: #0A1E5F !important;
  color: #fff !important;
}

.card {
  border-radius: 0 !important;
}