.jumbotron {
  position: relative;
  background-color: black;
  height: 0;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  border-radius: 0 !important;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

iframe{
  width: 100vw;
  height: calc(100vw/1.77);
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.jumbocontainer {
  position: relative;
  z-index: 2;
  /* margin-top: auto; */
  /* margin-bottom: auto; */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 1;
}

.signup, .signin {
  box-shadow: 3px 3px 8px 1px #000 !important;
}

.jumbo-text {
  text-shadow: 3px 3px 8px #000;
}
@media (max-width: 575.98px) { 
  iframe{
    display: none
  }
  .jumbotron{
    background-image: url(https://cdn.pixabay.com/photo/2016/07/29/14/25/roller-coaster-1553336_1280.jpg);
    background-position: center
  }
  .jumbo-text{
    font-size: 20px;
  }
  .stats{
    font-size: 15px;
  }
 }
 @media (max-width: 767.98px) {
  .stats{
    font-size: 18px;
  }
 }
