.jumbotron {
  position: relative;
  background-color: black;
  height: 0;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  border-radius: 0 !important;
}

iframe{
  width: 100vw;
  height: calc(100vw/1.77);
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.container {
  position: relative;
  z-index: 2;
  margin-top: auto;
  margin-bottom: auto;}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}