* {
    font-family: 'Montserrat', sans-serif;
}
.coastercard {
    border-radius: 0 !important;
}
.coasterImage img {  
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
}
.coasterImage:hover {
    opacity: 0.5;
}
.color-div{
    /* background-color: red; */
    height: 100%;
    /* padding: 0 !important; */
}
.nameLink{
    color:navy;
}