footer {
  /* box-shadow: 5px 5px 0 25px #6464645d; */
  width: 100%;
  background-color: #0A1E5F;
  color: #fff !important;
  border-top: 10px solid #245495;
  padding-top: 25px;
  margin-top: 25px;
}

.footer-row {
  margin-bottom: 10px;
}

.footer-text {
  color: #fff;
  text-decoration: underline; 
}
.footer-text:hover {
  color: #2f7c32 !important;
  text-decoration: underline; 
}


.footer-link,
.footer-copyright {
  color: #232858 !important;
  background: #2f7c32;
  padding-top: 5px;
  padding-bottom: 5px;
}

.middle {
  text-align: center;
}


