.footer {
  width: 100%;
}

.bottom {
  width: 100%;
  background: #232858;
  text-align: center;
  font-weight: 700;
  color: #fff;
  padding: 10px;
}

.footer-text {
  color: #fff;
  text-decoration: underline; 
}