nav {
    display: inline-block;
    background-color: #478147;
    padding: 0px;
}

.nav-link {
  display: inline-block;
  color: #232858;
  font-size: 24px;
}

.btn-success {
  background-color: #478147;
  border: #478147;
  color: #232858;
  font-size: 24px;
}

img {
  height: 100px;
  width: 500px;
}