nav {
    display: inline-block;
    background-color: #478147;
    padding: 0px;
}

.nav-link {
  display: inline;
  color: #232858;
}

.btn {
  color: #232858;
}

img {
  height: 100px;
  width: 450px;
}